.home {
    height: 92vh;
    background-color: peachpuff;
    display: flex;

    justify-content: center;
    align-items: center;
}

.profile-image{
    /* margin-bottom: 10px; */
    border-radius: 100%;
}